body{
    
    margin: 0px;
    
}
.backimg{
   
    background-size: 100% 100%;
}
.background{
   display:flex;
   justify-content: center;
}
.menu{
    width: 100%;
    position: absolute;
    color:white;
    display:flex;
    justify-content: space-between;
    background-color: red;
    
}
span{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding:20px;
   
}
.logo{
    height:80px;
}
.middle{
    height: fit-content;
    width: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    top:200px;
    color:white;
}
#middlef span{
    font-size: 60px;
}
#mrdwn{
    margin-left: 60px;
}
#para{
    font-size: 10px;
    width: 1200px;
    height: 20px;
    position: absolute;
    top:350px;
    color: white;
}
#button{
    position: absolute;
    top:500px;
     height:100px
}